*{
  margin:0%;
}
@font-face {
  font-family:"Police";
  src: url("/font/Louis\ George\ Cafe\ Light.ttf");
}

#app{
  background-image:url("/mavic-3-classic-kv.jpg");
  background-size:cover;
  height: 100vh;
  width: 100vw;
}

header{
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#titre{
  font-size: 80px;
  font-family:"Police";
  position: static; 
  color: rgba(0, 0, 0, 0.849);
  
  
  

}


@keyframes pingouin {
  from{font-size: 180%;}
  to{font-size: 110%;}
  
  
}
#menu{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width:100vw;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.178);
 
  
}
#menu span:hover{
 background-color: rgba(75, 175, 218, 0);
 animation-duration: 1s;
 animation-name: pingouin;
 

}


#logodrone{
  width: 150px;
  transform: translateY(20px);
  
}
#titrelogo{
  display: flex;
  align-items: center;
  justify-content: space-evenly;  
 
}
#menu span {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15vw;
  height: 2vw;
  
  border-radius:15%;
  cursor:pointer;
  color: rgb(0, 0, 0);
  user-select: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: 1s ease-in-out;
  font-size: 110%;
  background-color: rgba(92, 109, 123, 0);
   
}



  
  

  