*{
  margin:0%;
}
@font-face {
  font-family:"Police";
  src: url("/font/Louis\ George\ Cafe\ Light.ttf");
}

#app{
  background-image:url("/mavic-3-classic-kv.jpg");
  background-size:cover;
  height: 100vh;
  width: 100vw;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#titre{
  font-size: 80px;
  font-family:"Police";
  position: relative; left: 38.5vw;
  color: rgba(26, 26, 63, 0.555);
}

#menu{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width:100vw;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.493);
  border: solid 0.1vw black;
}

#logodrone{
  width: 150px;
  transform: translateY(20px);
  
}
#titrelogo{
  display: flex;
  align-items: center;
  justify-content: space-evenly;  
 
}
#menu span {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15vw;
  height: 2vw;
  border:solid 0.1vw rgb(0, 0, 0);
  border-radius: 40px;
  background-color: rgba(84, 150, 248, 0.103); 
  cursor:pointer;
  user-select: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



  
  

  